
*.o
*.exe
*.dll


# Eclipse files
.settings

# Java
bin
gen
target

# log files
*.log

# Android
android-support-v4.jar

# visual studio
packages
obj
*.csproj
*.csproj.user

# exceptions
!FTD2XX_NET.dll